<div class='six__intro'>
    <div class='gs-container'>
        <ul class='six__quotes'>
            <li class='six__quote six__quote--1'>
                {{> templates/helpers/candles }}
                <span>I said, ‘They killed Corey,’ and I just broke down in his&nbsp;arms.</span>
            </li>
            <li class='six__quote six__quote--2'>
                {{> templates/helpers/candles }}
                <span>If we all stood up and said, 'enough is enough,' Alex would still be&nbsp;alive.</span>
            </li>
            <li class='six__quote six__quote--3'>
                {{> templates/helpers/candles }}
                <span>If they can get up and do it out of the kindness of their hearts, I better be able to do it for my&nbsp;mother.</span>
            </li>
            <li class='six__quote six__quote--4'>
                {{> templates/helpers/candles }}
                <span>Finally the last bus came and he wasn’t on it. Even if you basically know, you hold on to hope until the very last&nbsp;second.</span>
            </li>
            <li class='six__quote six__quote--5'>
                {{> templates/helpers/candles }}
                <span>The person who did this to us, he wanted us to feel afraid. So to be able to have that power back is really freeing for&nbsp;me.</span>
            </li>
            <li class='six__quote six__quote--6'>
                {{> templates/helpers/candles }}
                <span>It's awful for any community to have to bear that&nbsp;name:<br /> Charleston&nbsp;strong.<br /> Orlando&nbsp;strong.<br /> Las Vegas&nbsp;strong.</span>
            </li>
        </ul>
        <div class='six__header-content'>
            <h1 class='six__headline'>Stories of loss, love and hope</h1>
            <h3 class='six__standfirst'>Six firsthand accounts from some of America's worst mass&nbsp;shootings <span><a href='https://www.theguardian.com/profile/lois-beckett'>Lois Beckett</a> and <a href='https://www.theguardian.com/profile/jamiles-lartey'>Jamiles Lartey</a></span></h3>
            {{> templates/helpers/share }}
        </div>
    </div>
</div>
