<div class='six__intro'>
    <div class='gs-container'>
        <ul class='six__quotes'>
            <li class='six__quote six__quote--1'>
                {{> templates/helpers/candles }}
                I said, ‘They killed Corey,’ and I just broke down in his&nbsp;arms.
            </li>
            <li class='six__quote six__quote--2'>
                {{> templates/helpers/candles }}
                If we all stood up and said, 'enough is enough,' Alex would still be&nbsp;alive.
            </li>
            <li class='six__quote six__quote--3'>
                {{> templates/helpers/candles }}
                If they can get up and do it out of the kindness of their hearts, I better be able to do it for my&nbsp;mother.
            </li>
            <li class='six__quote six__quote--4'>
                {{> templates/helpers/candles }}
                Finally the last bus came and he wasn’t on it. Even if you basically know, you hold onto hope until the very last&nbsp;second.
            </li>
            <li class='six__quote six__quote--5'>
                {{> templates/helpers/candles }}
                The person who did this to us, he wanted us to feel afraid. So to be able to have that power back is really freeing for&nbsp;me
            </li>
            <li class='six__quote six__quote--6'>
                {{> templates/helpers/candles }}
                It's awful for any community to have to bear that&nbsp;name:<br /> Charleston&nbsp;strong.<br /> Orlando&nbsp;strong.<br /> Las Vegas&nbsp;strong.
            </li>
        </ul>
        <div class='six__header-content'>
            <h1 class='six__headline'><span>The</span> strong</h1>
            <h3 class='six__standfirst'>Six stories of anguish and endurance from some of America's worst mass shootings <span><a href='https://www.theguardian.com/profile/lois-beckett'>Lois Beckett</a> and <a href='https://www.theguardian.com/profile/jamiles-lartey'>Jamiles Lartey</a></span></h3>
            {{> templates/helpers/share }}
        </div>
    </div>
</div>
