<div class='six__intro'>
    <div class='gs-container'>
        <ul class='six__quotes'>
            <li class='six__quote six__quote--1'>Even if you know, you hold onto hope until the very last&nbsp;second</li>
            <li class='six__quote six__quote--2'>In the wake of the election my anger is just a lot more intense than it used to be. I don't have time to be&nbsp;sad</li>
            <li class='six__quote six__quote--3'>If we all stood up and said, 'enough is enough,' Alex would still be&nbsp;alive.</li>
            <li class='six__quote six__quote--4'>Every time this happens the ripple effect gets larger. I don't know where the end&nbsp;is</li>
            <li class='six__quote six__quote--5'>It's awful for any community to have to bear that&nbsp;name:<br /> Charleston&nbsp;strong.<br /> Orlando&nbsp;strong.<br /> Las Vegas&nbsp;strong.</li>
        </ul>
    </div>
</div>

<div class='six__header'>
    <div class='gs-container'>
        <div class='six__header-content'>
            <h1 class='six__headline'>The strong</h1>
            <h3 class='six__standfirst'>Six stories from lorem ipsum something something here this is a standfirst <span>Lois Beckett</span></h3>
            {{> templates/helpers/share }}
            <hr class='six__divider' />
        </div>
    </div>
</div>
