.six__intro {
    background-color: $c-black;
    margin-bottom: 12px;
}

.six__quotes {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.six__quote {
    position: relative;
    z-index: 4;
    font-family: 'Guardian Egyptian Web';
    font-weight: 200;
    color: $c-white;
    font-size: 20px;
    line-height: 1.3;
    margin: 52px 0;
    opacity: 0;
    transition: opacity 0.4s ease-in;
    max-width: 480px;

    @include mq(tablet) {
        font-size: 26px;
        line-height: 1.2;
    }

    @include mq(desktop) {
        margin: 128px 0;
        font-size: 36px;
        line-height: 1.1;
    }

    @include mq(leftCol) {
        margin-left: 160px;
    }

    @include mq(wide) {
        margin-left: 240px;
    }

    &.is-visible {
        opacity: 1;
    }
}

.six__candle {
    position: absolute;
    z-index: -1;
    width: 26px;
    display: flex;
    flex-direction: column;
}

.six__candle--1 {
    left: -12px;
    top: -36px;
    bottom: -12px;
}

.six__candle--2 {
    left: 16px;
    top: -40px;
    bottom: -16px;

    .six__candle-flame {
        animation-delay: -.4s;
    }
}

@keyframes flicker {
    0% {
        opacity: .9;
        transform: translateX(0px) translateY(0px) scale(.95);
    }
    20% {
        opacity: .8;
        transform: translateX(-1px) translateY(0px) scale(1);
    }
    60% {
        opacity: 1;
        transform: translateX(1px) translateY(-1px) scale(.95);
    }
    100% {
        opacity: .8;
        transform: translateX(0px) translateY(1px) scale(1);
    }
}

.six__candle-flame {
    flex-grow: 0;
    flex-shrink: 0;
    width: 100%;
    max-width: 20px;
    margin: 0 auto 3px;
    animation: flicker .5s steps(4) infinite;
    transform-origin: bottom center;
}

.six__candle-stick {
    flex-grow: 1;
    background-color: lighten($c-black, 5%);
}

.six__header-content {
    max-width: 620px;
    padding-bottom: 12px;

    @include mq(leftCol) {
        padding-left: 160px;
    }

    @include mq(wide) {
        padding-left: 240px;
    }
}

.six__headline {
    font-family: 'Guardian Egyptian Web';
    font-size: 32px;
    line-height: 1.1;
    font-weight: bold;
    color: $c-yellow;
    margin-top: 6px;

    @include mq(tablet) {
        font-size: 64px;
    }

    @include mq(desktop) {
        font-size: 88px;
        line-height: 1;
    }

    span {
        font-weight: 200;
    }
}

.six__standfirst {
    font-family: 'Guardian Egyptian Web';
    font-size: 20px;
    line-height: 1.3;
    font-weight: 200;
    color: $c-white !important;

    @include mq(tablet) {
        font-size: 26px;
        line-height: 1.2;
    }

    @include mq(desktop) {
        font-size: 36px;
        line-height: 1.1;
    }

    span {
        display: block;
        color: $c-dark-grey;
        font-size: 20px;
        font-weight: normal;
        margin: 4px 0;

        a {
            color: $c-white;
            border-bottom: 1px solid $c-yellow;

            &:hover {
                border-bottom-color: $c-white;
                text-decoration: none;
            }
        }
    }
}
