.six__intro {
    background-color: $c-black;
}

.six__quotes {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: auto;
}

.six__quote {
    position: relative;
    z-index: 4;
    font-family: 'Guardian Egyptian Web';
    color: $c-white;
    font-size: 20px;
    line-height: 1.3;
    margin-top: 72px;
    margin-bottom: 12px;
    padding-top: .5em;
    background-image: url('@@assetPath@@/assets/images/quotes.svg');
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 2em;
    opacity: 0;
    transition: opacity 0.4s ease-in;
    max-width: 480px;

    @include mq(tablet) {
        font-size: 26px;
        line-height: 1.2;
    }

    @include mq(desktop) {
        margin-top: 148px;
        font-size: 36px;
        line-height: 1.1;
    }

    @include mq(leftCol) {
        margin-left: 160px;
    }

    @include mq(wide) {
        margin-left: 240px;
    }

    &.is-visible {
        opacity: 1;
    }
}

.six__header-content {
    max-width: 620px;

    @include mq(leftCol) {
        padding-left: 160px;
    }

    @include mq(wide) {
        padding-left: 240px;
    }
}

.six__headline {
    font-family: 'Guardian Egyptian Web';
    font-size: 32px;
    line-height: 1.1;
    font-weight: bold;
    color: $c-purple;
    margin-top: 6px;

    @include mq(tablet) {
        font-size: 64px;
    }

    @include mq(desktop) {
        font-size: 88px;
        line-height: 1;
    }
}

.six__standfirst {
    font-family: 'Guardian Egyptian Web';
    font-size: 20px;
    line-height: 1.3;
    color: $c-black !important;

    @include mq(tablet) {
        font-size: 26px;
        line-height: 1.2;
    }

    @include mq(desktop) {
        font-size: 36px;
        line-height: 1.1;
    }

    span {
        display: block;
        color: $c-dark-grey;
    }
}

.six__divider {
    margin-top: 32px;
    max-width: 240px;
    background-color: $c-dark-grey;
    border: 0;
    height: 2px;
    margin-left: 0;
}