.cia__intro {
    position: relative;
    background-color: $c-black;
    background-image: url('@@assetPath@@/assets/images/grains.jpg');
    color: $c-white;

    &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 40vw;
        background-color: $c-background;

        @include mq(tablet) {
            height: 250px;
        }

        @include mq(desktop) {
            height: 280px;
        }

        @include mq(leftCol) {
            height: 340px;
        }

        @include mq(wide) {
            height: 400px;
        }
    }
}

.cia__entries-form {
    width: 60%;
    max-width: 279px;
}

.cia__entries {
    margin: 0;
    padding: 12px 0;
    list-style: none;
    padding-top: 10vh;

    @include mq(leftCol) {
        margin-left: 160px;
    }

    @include mq(wide) {
        margin-left: 240px;
    }
}

@keyframes blinking {
    from, to {
        color: transparent;
    }
    50% {
        color: $c-white;
    }
}

.cia__date {
    display: block;
    color: #d3ceaf;
}

.cia__entries-title {
    -webkit-font-smoothing: subpixel-antialiased;
    font-family: 'Guardian Egyptian Condensed';
    font-size: 20px;
    color: $c-black;
    padding: 4px;
    display: inline-block;
    margin-bottom: 24px;
    background-color: $c-white;

    @include mq(tablet) {
        font-size: 34px;
        padding: 12px;
        margin-bottom: 15vh;
    }
}

.cia__entry {
    -webkit-font-smoothing: subpixel-antialiased;
    font-family: 'Guardian Egyptian Condensed';
    font-size: 20px;
    color: $c-white;
    margin: 0;
    margin-bottom: 24px;
    max-width: 620px;
    opacity: 0;

    @include mq(tablet) {
        font-size: 34px;
        line-height: 1.2;
        margin-bottom: 48px;
    }

    &.is-visible {
        opacity: 1;
    }

    &.is-latest:after {
        content: '|';
        margin-left: .2em;
        animation: blinking 1s step-end infinite;
    }

    &.has-date {
        color: #d3ceaf;
    }
}

.cia__pixels {
    position: relative;
    width: .5em;
    height: 1em;
    display: inline;
    padding-left: 0.2em;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: .5em;
        background-color: red;
    }

    &--1:before {
        background-color: lighten($c-black, 10%);
    }

    &--2:before {
        background-color: lighten($c-black, 4%);
    }

    &--3:before {
        background-color: lighten($c-black, 18%);
    }

    &--4:before {
        background-color: lighten($c-black, 24%);
    }

    &--5:before {
        background-color: lighten($c-black, 13%);
    }

    &--6:before {
        background-color: lighten($c-black, 19%);
    }

    &:after {
        content: '';
        position: absolute;
        top: .5em;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: aqua;
    }

    &--1:after {
        background-color: lighten($c-black, 2%);
    }

    &--2:after {
        background-color: lighten($c-black, 34%);
    }

    &--3:after {
        background-color: lighten($c-black, 6%);
    }

    &--4:after {
        background-color: lighten($c-black, 17%);
    }

    &--5:after {
        background-color: lighten($c-black, 9%);
    }

    &--6:after {
        background-color: lighten($c-black, 21%);
    }
}

.cia__headline {
    font-size: 108px;
    line-height: 1.1;
    display: none;
}

.cia__vector-headline {
    position: relative;
    z-index: 3;
}

@keyframes upperTwitch {
    0%, 22%, 40%, 78%, 90%, 93%, 97%, 100% {
        transform: translateX(0px);
    }

    25%, 35% {
        transform: translateX(-2px);
    }

    80%, 88%, 95% {
        transform: translateX(1px);
    }
}

.cia__headline-svg--inside {
    width: 66%;

    @include mq(tablet) {
        max-width: 450px;
    }

    @include mq(desktop) {
        max-width: 640px;
    }

    #upper {
        animation: upperTwitch 2s linear infinite;
    }

    #lower {
        animation: upperTwitch 2s linear infinite;
        animation-delay: -1.2s;
    }
}

.cia__headline-svg--black-site {
    margin-bottom: 6px;

    @include mq(tablet) {
        margin-top: 12px;
    }

    @include mq(desktop) {
        max-width: 960px;
    }

    @include mq(leftCol) {
        margin-left: 140px;
    }

    @include mq(wide) {
        margin-left: 240px;
    }

    #lower {
        animation: upperTwitch 2s linear infinite;
        animation-delay: -.3s;
    }
}

.cia__image {
    position: relative;
    z-index: 2;
    width: 100%;
    height: auto;
    margin-top: -10vw;

    @include mq(tablet) {
        margin-top: -60px;
    }

    @include mq(desktop) {
        margin-top: -80px;
    }

    @include mq(leftCol) {
        margin-top: -90px;
    }

    @include mq(wide) {
        margin-top: -100px;
    }
}

h2.cia__byline {
    position: relative;
    z-index: 3;
    color: $c-black;
    font-family: 'Guardian Egyptian Condensed' !important;
    font-weight: normal !important;
    font-size: 18px !important;
    margin-bottom: 12px;
    margin-top: 4px;
    -webkit-font-smoothing: auto;

    @include mq(tablet) {
        font-size: 20px !important;
    }

    @include mq(desktop) {
        margin-top: 0;
    }

    @include mq(leftCol) {
        margin-left: 140px;
    }

    @include mq(wide) {
        margin-left: 240px;
    }
}
